.fighter.clearfix{ id: "fight-id-#{fight_team.id}"}
  .pull-right
    = link_to "#", "data-toggle" => "modal", "data-target" => "#edit-fighter-modal-#{ fight_team.id }" do
      %span.glyphicon.glyphicon-edit{ title: "Edit this fighter" }
    |
    = link_to fight_team, method: :delete, data: { confirm: "Are you sure you want to remove this fighter?" } do
      %span.glyphicon.glyphicon-remove{ title: "Remove this fighter" }
  .picture
    = image_tag fight_team.picture.url(:large), class: "img-responsive"
  .description
    %h3= fight_team.name.titleize
    %p= fight_team.description.html_safe

.row
  = simple_form_for fight_team, method: :patch, html: { class: "form-horizontal" } do |f|
    .modal.fade{"aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id: "edit-fighter-modal-#{ fight_team.id }"}
      .modal-dialog{role: "document"}
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
              %span{"aria-hidden" => "true"} ×
            %h4#myModalLabel.modal-title= "Edit Fighter"
          .modal-body
            .row-fluid
              .col-sm-6
                = f.input :name, placeholder: 'Enter Fighter name'
              .col-sm-6
                = f.input :picture, as: :file      
            #preview.clearfix
              .col-sm-12
                - if fight_team.picture.present?
                  %fieldset.current
                    %legend= "Current image"
                    = image_tag fight_team.picture.url(:thumb), class: "img-responsive"
                %fieldset.upload
                  %legend= "Uploaded image"
              .col-sm-12
                = f.input :description, as: :summernote
            
          .modal-footer
            = f.button :submit, "Save changes", class: "btn-danger"
            = link_to "Cancel", "#", class: "btn btn-default", "data-dismiss" => "modal"

