= simple_form_for @fight_team, html: { class: "form-horizontal" } do |f|
  .form-inputs
    .row-fluid
      .col-sm-6
        = f.input :name, placeholder: 'Enter Fighter name'
      .col-sm-6
        = f.input :picture, as: :file      
      .col-sm-12
        #preview.clearfix
          - if @fight_team.picture.present?
            %fieldset.current
              %legend= "Current image"
              = image_tag @fight_team.picture.url(:thumb), class: "img-responsive"
          %fieldset.upload
            %legend= "Uploaded image"

      .col-sm-12
        = f.input :description, as: :summernote

  .form-actions
    = f.button :submit, "Save", class: "btn-danger"
    = link_to "Cancel", :back, class: "btn btn-default"
