= simple_form_for @product, url: products_path do |f|
  .form-inputs
    .row
      .col-md-6
        = f.input :name, placeholder: 'Enter Product name', input_html: { class: "form-control" }
        %br/
      .col-md-6
        = f.input :price, placeholder: 'Enter Price', input_html: { class: "form-control" }
        %br/
    = f.input :image, as: :file
    %br/
    = f.button :submit, "Save", class: "btn-danger"
    = link_to 'Back', :back, class: "btn btn-default"