= simple_form_for @product, html: { multipart: true, class: "form-horizontal" } do |f|
  .form-inputs
    .row-fluid
      .col-sm-6
        = f.input :name, placeholder: 'Enter Product name'
      .col-sm-6
        = f.input :price, placeholder: 'Enter Price', input_html: {value: number_with_precision(f.object.price, precision: 2) }
      .col-sm-12
        = f.input :description, as: :summernote
      .col-sm-12.col-lg-6  
        = f.simple_fields_for :category do |c|
          = c.input :category, collection: Category.for_select, include_blank: "Select a category"
      .col-sm-12.col-lg-6
        = f.association :sub_category, include_blank: "Choose a category first to enable", input_html: { disabled: true }
      .col-sm-12    
        = field_set_tag 'Images' do 
          = file_field_tag "images[]", multiple: true, type: :file
      .col-sm-12
        #preview.clearfix
          - if @product.images.present?
            - @product.images.each do |img|
              = image_tag img.image.url(:thumb)

  .form-actions
    = f.button :submit, "Save", class: "btn-danger"
    = link_to 'Cancel', :back, class: "btn btn-default"