= simple_form_for @product, remote: true, html: { multipart: true, class: "form-horizontal" } do |f|
  .form-inputs
    .row-fluid
      .col-sm-6
        = f.input :name, placeholder: 'Enter Product name'
      .col-sm-4
        = f.input :color, placeholder: 'Enter Color'
      .col-sm-2
        = f.input :price, placeholder: 'Enter Price', input_html: {value: number_with_precision(f.object.price, precision: 2) }
      .col-sm-12
        = f.input :description, as: :summernote
      .col-sm-12.col-lg-6  
        = f.simple_fields_for :category do |c|
          - if @product.sub_category.present?
            = c.input :category, collection: Category.for_select, selected: @category.id, include_blank: false
          - else
            = c.input :category, collection: Category.for_select, include_blank: "Select a category"
            
      .col-sm-12.col-lg-6#sub_category_container    
        = render "products/select_sub_categories", collection: []
      .col-sm-12    
        = f.label :images 
        = file_field_tag "images[]", multiple: true, type: :file
      .col-sm-12
        #preview.clearfix
          - if @product.images.present?
            %fieldset.current
              %legend= "Current Images"            
              - @product.images.each do |img|
                = image_tag img.image.url(:thumb)
          %fieldset.upload
            %legend= "Uploaded images"

  .form-actions
    = f.button :submit, "Save", class: "btn-danger"
    = link_to 'Cancel', :back, class: "btn btn-default"