.row
  - @products.each do |product|
    .col-sm-4.col.md-4.col-lg-4
      .thumbnail
        = link_to product do
          - if product.images.present?
            = image_tag product.images.first.image.url(:medium), class: "img-responsive"
          - else
            = image_tag product.images.first.image.url(), class: "img-responsive"
        .caption
          %h4.pull-right
            = number_to_currency(product.price, unit: "₱")

          %h4
            = link_to product.name, product
          = link_to "Edit", edit_product_path(product)
          |
          = link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }               
        .ratings
          %p.pull-right
            = "16 reviews"
          %p
            %span.glyphicon.glyphicon-star
            %span.glyphicon.glyphicon-star
            %span.glyphicon.glyphicon-star
            %span.glyphicon.glyphicon-star
            %span.glyphicon.glyphicon-star

= paginate @products