- page_title(["#{@product.name}", "#{@product.sub_category.name}"])
.col-sm-6
  .product-image-container
    .main-product-image
      = image_tag @product.images.first.image.url(:large), class: "img-responsive"
    .images
      %ul
        - @product.images.each do |img|
          %li
            = link_to (image_tag img.image.url(:small)), "#", class: "product-image"

.col-sm-6
  .thumbnail
    - if admin?
      .button-actions.pull-right
        = link_to edit_product_path(@product) do
          %span.glyphicon.glyphicon-edit{ title: "Edit" }
        |
        = link_to @product, method: :delete, data: { confirm: 'Are you sure you want to delete this product?' } do
          %span.glyphicon.glyphicon-remove{ title: "Delete" }

    .caption-full
      %h2.product-name
        = @product.name.titleize
        %span.pull-right
          = price_with_unit(@product.price)
      %h5.color
        = @product.color.titleize
      .description
        = @product.description.html_safe  
      .sizes
        %strong= "Sizes:"
        - if @product.stocks.present?
          %ul
            - @product.stocks.each do |stock|
              %li.size{ title: stock_status(stock.quantity) }
                = stock.size.label.upcase
          %i= "Point on each size to see if there's a stock"
        - else
          = "Not available"

      .ratings
        .pull-right
          = pluralize(@reviews.count, "review")
        .star-rating{ "data-score" => "#{average_rating(@reviews)}" }

.col-sm-12
  .well
    - if current_user
      .review_form_container.clearfix
        .avatar.clearfix
          = image_tag current_user.image
          .signed-as
            = "Signed In as "
            %strong= current_user.name
        = render "products/form_review", product: @product, review: @review, user_name: current_user.name
    - else
      .text-right
        = link_to "Leave a Review", "/auth/facebook", id: "sign_in", class: "btn btn-success"
    %hr/
    - @reviews.each do |review|
      .row
        .col-sm-12
          .star-rating{ "data-score" => "#{review.rating}" }
          = review.user_name
          %span.pull-right
            = time_ago_in_words(review.created_at)
            = "ago"
          %p
            = simple_format(review.content)
      %hr/




