- page_title(["#{@product.name}", "#{@product.sub_category.name}"])
.col-sm-3
  = render "categories"

.col-sm-9
  .thumbnail
    .button-actions.pull-right
      = link_to edit_product_path(@product) do
        %span.glyphicon.glyphicon-edit{ title: "Edit" }
      |
      = link_to @product, method: :delete, data: { confirm: 'Are you sure you want to delete this product?' } do
        %span.glyphicon.glyphicon-remove{ title: "Delete" }
    .main-product-image
      = image_tag @product.images.first.image.url(:large), class: "img-responsive"
    .images
      %ul
        - @product.images.each do |img|           
          %li
            = link_to (image_tag img.image.url(:small)), "#", class: "product-image"
                      
    .caption-full      
      %h4.product-name
        = @product.name
        %span.pull-right
          = price_with_unit(@product.price)
      %h5.color
        = @product.color
      .description
        = @product.description.html_safe  
      %p
        %strong= "Sizes:"
        = "A0, A1, A2, A3, A4"

    .ratings
      %p.pull-right
        = "3 reviews"
      %p
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star-empty
        = "4.0 stars"

  .well
    .text-right
      %a.btn.btn-success 
        = "Leave a Review"
    %hr/
    .row
      .col-sm-12
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star-empty
        = "Anonymous"
        %span.pull-right 
          = "10 days ago"
        %p 
          = "This product was great in terms of quality. I would definitely buy another!"
    %hr/
    .row
      .col-sm-12
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star-empty
        = "Anonymous"
        %span.pull-right 
          = "12 days ago"
        %p 
          = "I've alredy ordered another one!"
    %hr/
    .row
      .col-sm-12
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star
        %span.glyphicon.glyphicon-star-empty
        = "Anonymous"
        %span.pull-right 
          = "15 days ago"
        %p 
          = "I've seen some better than this, but not at this price. I definitely recommend this item."




