%li{ class: active_class(root_url) }
  = link_to "Products", root_url
%li= link_to "The Fight Team", "#"
%li= link_to "Events", "#"
%li{ class: active_class(about_index_path) }
  = link_to "About Us", about_index_path
%li{ class: active_class(contact_index_path) }
  = link_to "Contact", contact_index_path
